body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.container {
    position: absolute;
    max-height: 92vh;
    display: flex;
    flex-direction: row;
    padding: 30px;
}

.sidebar {
    flex: 3;
    background: #290C4C;
    opacity: 95%;
    border-radius: 15px;
    min-width: 0;
    transition: all 300ms ease-in-out;
    color: ghostwhite;
    display: flex;
    flex-direction: column;
}

.sidebar-body {
    height: 140px;
    padding: 15px;
    font-size: 14px;
}

.sidebar-charts {
    height: 150px;
    margin: 15px;
    border-radius: 10px;
    background: darkviolet;
}

.sidebar:hover {
    flex-grow: 6;
}

.main {
    flex: 5;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    color: white;
}

.title {
    margin-top: 290px;
}

.login {
    height: 25%;
    background: #2B3038;
    margin-top: auto;
    border-radius: 15px;
    color: white;
    padding: 15px;
}

.login form {
    display: flex;
    justify-content: space-around;
}

.login-left {
    flex: 3;
    padding: 0 10px;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-around;
}

.login-right {
    flex: 1;
    box-sizing: border-box;
    padding: 0 10px;
    flex-direction: column;
    overflow: hidden;
}

.login-right button {
    color: ghostwhite;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 10px;
}

/* Gradient styles for buttons */
.login-right button {
    background: linear-gradient(to right, magenta, blueviolet); /* Apply gradient to the first button */
}